body {
    /* background-color: forestgreen; */
    /* background-image: url('https://images.unsplash.com/photo-1537452745381-9ade489bb69c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    */
    background-image: url('../images/IMG_3019.JPG');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(238, 238, 238, 0.45);
    background-blend-mode: color;
}

/* background color for nav */
.topnav {
    position: sticky;
    top: 0;
    background-color: #333;
    overflow: hidden;
    /* margin-left: 100px;
    margin-right: 100px; */
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
    z-index: 2;

}

.floatright {
    float: right;
}

/* style for links in nav bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* style for links when hovered over */
.topnav a:hover:not(.navbarlogo) {
    background-color: grey;
    color: white;
}

/*style for links when active*/
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.pageheader {
    margin-top: 55px;
    text-align: center;
}

.hrline {
    border-color: black;
    margin-top: 30px;
}

.bodydiv {
    background-color: honeydew;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    height: 2300px;
    padding-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    position: relative;
}

#trailsearchwrapper {
    text-align: center;
}

#trailsearch {
    /* background-image: url("search_icon.png"); */
    /* background-position: 10px 12px; */
    /* background-repeat: no-repeat; */
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width: 90%;
}

#traillist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#traillist li a {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: inline;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#traillist li {
    width: 90%;
    display: inline-grid;

}

#traillist li a:hover:not(.header) {
    background-color: #eee
}

.backdiv a {
    float: left;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 10px 12px;
    border-radius: 25px;
}

.backdiv a:hover {
    background-color: grey;
    color: white;
}

.trailmap {
    z-index: 1;
    width: 53.5%;
    margin: 0 auto;
    background-color: white;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
}

.trailvideo {
    z-index: 1;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-top: 2px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
}

.iframecontainer {
    width: 100%;
    text-align: center;
}

#slideshowcontainer {
    max-width: 100%;
    margin: auto;
    position: relative;
    max-height: 100px;
}

.myslides {
    z-index: 1;
}

.rotate90right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.descriptiontitle {
    text-align: center;
}

.description {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    background-color: white;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
    /* shadow and padding */
}

.comments {
    text-align: center;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.spacer {
    height: 30px;
}

.styledbox {
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px #888888;
}

.linkdiv {
    margin-top: 20px;
    text-align: center;
}

.linkdiv a {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 10px 12px;
    border-radius: 25px;
}

.linkdiv a:hover {
    background-color: grey;
    color: white;
}

.navbarlogo img {
    height: 100%;
    width: auto;
    margin: 0;
    display: block;
}

.navbarlogo {
    height: 20px;
    width: 165px;
}

.centered {
    text-align: center;
}

.image {
    border-radius: 25px;
    box-shadow: 5px 10px 10px #888888;
}

#cp_widget_59c5857e-a5e0-4d54-8151-d0cce0f985ef {
    display: inline-block;
    position: relative;
    width: 50%;
    z-index: 1;
}

#slideshowdiv {
    text-align: center;
}
#anthillsmap {
     padding-top: 20px;
 }

#topbuttondiv {
    position: absolute;
    bottom: 0;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
}

.topBtn {
    border: none;
    outline:none;
    background-color: #333;
    color: #f2f2f2;
    cursor: pointer;
    padding: 7px 9px;
    border-radius: 20px;
    font-size: 15px
}

.topBtn:hover {
    background-color: grey;
    color: white;
}

#copyright {
    position: relative;
    bottom: 0;
    font-size: 15px;
    margin-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#footer {
    background-color: #66ff66;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sitemap {
    float: left;
}

#sitemapdiv {
    position: relative;
    bottom: 0;
    font-size: 15px;
    margin-bottom: 9px;
    float: right;
    margin-left: auto;
    margin-right: auto;
}
