body {
    background-color: forestgreen;
}

/* background color for nav */
.topnav {
    position: sticky;
    top: 0;
    background-color: #333;
    overflow: hidden;
    /* margin-left: 100px;
    margin-right: 100px; */
    max-width: 960px;
    margin: auto;
}

/* style for links in nav bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* style for links when hovered over */
.topnav a:hover {
    background-color: #ddd;
    color: white;
}

/*style for links when active*/
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.pageheader {
    margin-top: 55px;
    text-align: center;
}

.hrline {
    border-color: black;
}

.bodydiv {
    background-color: honeydew;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    height: 2000px;
    padding-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#trailsearchwrapper {
    text-align: center;
}

#trailsearch {
    /* background-image: url("search_icon.png"); */
    /* background-position: 10px 12px; */
    /* background-repeat: no-repeat; */
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width: 90%;
}

#traillist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#traillist li a {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: inline;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#traillist li{
    width: 100%;
    display: inline;
}

#traillist li a:hover:not(.header) {
    background-color: #eee
}

.backdiv a {
    float: left;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 10px 12px;
    border-radius: 25px;
}

.backdiv a:hover {
    background-color: #ddd;
    color: white;
}

.trailmap {
    z-index: 1;
    width: 53.5%;
    margin: 0 auto;
}

.trailvideo {
    z-index: 1;
}

.iframecontainer {
    width: 100%;
    text-align: center;
}

#slideshowcontainer {
    max-width: 100%;
    margin: auto;
    position: relative;
    max-height: 100px;
}

.myslides {
    z-index: 1;
}

.rotate90right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.descriptiontitle {
    text-align: center;
}

.description {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

.commentcontainer {
    text-align: left;
}

.spacer {
    height: 30px;
}
